/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, http://tidecast.local/less/imports/reset.less */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* line 27, http://tidecast.local/less/imports/reset.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 31, http://tidecast.local/less/imports/reset.less */
body {
  line-height: 1;
}
/* line 34, http://tidecast.local/less/imports/reset.less */
ol,
ul {
  list-style: none;
}
/* line 37, http://tidecast.local/less/imports/reset.less */
blockquote,
q {
  quotes: none;
}
/* line 40, http://tidecast.local/less/imports/reset.less */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 45, http://tidecast.local/less/imports/reset.less */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, http://tidecast.local/less/imports/normalize.less */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, http://tidecast.local/less/imports/normalize.less */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
/* line 31, http://tidecast.local/less/imports/normalize.less */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 40, http://tidecast.local/less/imports/normalize.less */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 53, http://tidecast.local/less/imports/normalize.less */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 64, http://tidecast.local/less/imports/normalize.less */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 76, http://tidecast.local/less/imports/normalize.less */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 85, http://tidecast.local/less/imports/normalize.less */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 95, http://tidecast.local/less/imports/normalize.less */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 105, http://tidecast.local/less/imports/normalize.less */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
/* line 116, http://tidecast.local/less/imports/normalize.less */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 125, http://tidecast.local/less/imports/normalize.less */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 133, http://tidecast.local/less/imports/normalize.less */
sub {
  bottom: -0.25em;
}
/* line 137, http://tidecast.local/less/imports/normalize.less */
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 148, http://tidecast.local/less/imports/normalize.less */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 160, http://tidecast.local/less/imports/normalize.less */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 176, http://tidecast.local/less/imports/normalize.less */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 186, http://tidecast.local/less/imports/normalize.less */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 195, http://tidecast.local/less/imports/normalize.less */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
/* line 206, http://tidecast.local/less/imports/normalize.less */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 218, http://tidecast.local/less/imports/normalize.less */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
/* line 229, http://tidecast.local/less/imports/normalize.less */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 240, http://tidecast.local/less/imports/normalize.less */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 253, http://tidecast.local/less/imports/normalize.less */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 261, http://tidecast.local/less/imports/normalize.less */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 270, http://tidecast.local/less/imports/normalize.less */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 280, http://tidecast.local/less/imports/normalize.less */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 290, http://tidecast.local/less/imports/normalize.less */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 299, http://tidecast.local/less/imports/normalize.less */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 308, http://tidecast.local/less/imports/normalize.less */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 320, http://tidecast.local/less/imports/normalize.less */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
/* line 328, http://tidecast.local/less/imports/normalize.less */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 339, http://tidecast.local/less/imports/normalize.less */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
/* line 347, http://tidecast.local/less/imports/normalize.less */
[hidden] {
  display: none;
}
/* line 7, http://tidecast.local/less/style.less */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 10, http://tidecast.local/less/style.less */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 14, http://tidecast.local/less/style.less */
html {
  width: 100%;
  height: 100%;
}
/* line 19, http://tidecast.local/less/style.less */
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
/* line 1, http://tidecast.local/less/template/calendar.less */
div#calendar {
  width: 100%;
  height: 100%;
  font-family: Helvetica, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 18px;
}
@media only screen and (min-width: 300px) and (max-width: 425px) {
  /* line 13, http://tidecast.local/less/template/calendar.less */
  div#calendar {
    font-size: 10px;
  }
}
/* line 16, http://tidecast.local/less/template/calendar.less */
div#calendar div.header {
  height: 5%;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 50%);
  overflow: hidden;
  font-size: 1em;
}
/* line 22, http://tidecast.local/less/template/calendar.less */
div#calendar div.header span.region-selector {
  display: grid;
  align-items: center;
  float: left;
  width: 57.14285714%;
  height: 100%;
}
/* line 28, http://tidecast.local/less/template/calendar.less */
div#calendar div.header span.region-selector label {
  display: none;
}
/* line 31, http://tidecast.local/less/template/calendar.less */
div#calendar div.header span.region-selector select {
  height: 100%;
  padding: 5px;
  border: none;
}
/* line 37, http://tidecast.local/less/template/calendar.less */
div#calendar div.header span.title {
  display: grid;
  align-items: center;
  float: left;
  width: 28.57142857%;
  height: 100%;
}
/* line 44, http://tidecast.local/less/template/calendar.less */
div#calendar div.header a.prev,
div#calendar div.header a.next {
  display: grid;
  align-items: center;
  float: left;
  width: 7.14285714%;
  height: 100%;
  line-height: 100%;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 2em;
}
/* line 55, http://tidecast.local/less/template/calendar.less */
div#calendar div.header a.prev:hover,
div#calendar div.header a.next:hover {
  background-color: hsl(0, 0%, 60%);
}
/* line 60, http://tidecast.local/less/template/calendar.less */
div#calendar ul.labels {
  height: 5%;
  clear: both;
}
/* line 63, http://tidecast.local/less/template/calendar.less */
div#calendar ul.labels li {
  list-style-type: none;
  display: grid;
  align-items: center;
  float: left;
  height: 100%;
  width: 14.28571429%;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 80%);
  border: solid 1px hsl(0, 0%, 0%);
  border-right: none;
  border-bottom: none;
}
/* line 75, http://tidecast.local/less/template/calendar.less */
div#calendar ul.labels li:first-child {
  border-left: none;
}
/* line 80, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates {
  height: 90%;
}
/* line 84, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates.row-six li {
  height: 16.66666667%;
}
/* line 88, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li {
  list-style-type: none;
  float: left;
  height: 20%;
  width: 14.28571429%;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border: solid 1px hsl(0, 0%, 0%);
  border-right: none;
  border-bottom: none;
  overflow: hidden;
}
/* line 99, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li.start {
  border-left: none;
}
/* line 102, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li.end {
  border-right: none;
}
/* line 105, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li h2 {
  font-size: 0.8em;
  font-weight: bold;
  background-color: hsl(0, 0%, 80%);
  padding: 2px 0;
}
/* line 110, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li h2.today {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
}
/* line 116, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data h3 {
  display: none !important;
  /*
					font-weight:bold;
					display:block;
					float:left;
					width:100%;
					// &.sunrise-event{
						// background-color:@clr-pink;
					// }
					// &.sunset-event{
						// background-color:@clr-purple;
					// }
					background-color:lighten(@clr-grey, 40%);
					&.low-tide-event{
						// background-color:@clr-cyan;
					}
					&.high-tide-event{
						// background-color:@clr-green;
					}
					span{
						display:block;
						float:left;
						padding:2px 0;
						&.region-name{
							width:80%;
							overflow:hidden;
						}
						&.tide-indicator-h{
							width:10%;
							// background-color:@clr-purple;
						}
						&.tide-indicator-l{
							width:10%;
							// background-color:@clr-blue;
						}
						// &.sunrise-event-best,
						// &.sunset-event-best,
						&.low-tide-event-best,
						&.high-tide-event-best{
							background-color:@clr-green;
						}
						// &.sunrise-event-better,
						// &.sunset-event-better,
						&.low-tide-event-better,
						&.high-tide-event-better{
							background-color:@clr-yellow;
						}
						// &.sunrise-event-good,
						// &.sunset-event-good,
						&.low-tide-event-good,
						&.high-tide-event-good{
							background-color:@clr-orange;
						}
						// &.tide-indicator-h{
							// background-color:@clr-bright-pink;
						// }
						// &.tide-indicator-l{
							// background-color:@clr-cyan;
						// }
					}
*/
}
/* line 179, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data {
  float: left;
  width: 100%;
  display: block;
  clear: both;
  font-size: 1em;
}
@media only screen and (min-width: 300px) and (max-width: 425px) {
  /* line 185, http://tidecast.local/less/template/calendar.less */
  div#calendar ul.dates li div.region-tide-data ul.tide-data {
    font-size: 0.9em;
  }
}
/* line 188, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li {
  display: block;
  border: none;
  height: initial;
  width: 100%;
}
/* line 194, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li span {
  display: block;
  float: left;
  padding: 1.6px 0;
}
@media only screen and (min-width: 300px) and (max-width: 425px) {
  /* line 198, http://tidecast.local/less/template/calendar.less */
  div#calendar ul.dates li div.region-tide-data ul.tide-data li span {
    padding: 3.7px 0;
  }
}
/* line 202, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.time {
  text-align: right;
  width: 55%;
  padding-right: 5px;
}
@media only screen and (min-width: 300px) and (max-width: 425px) {
  /* line 206, http://tidecast.local/less/template/calendar.less */
  div#calendar ul.dates li div.region-tide-data ul.tide-data li span.time {
    padding-right: 1px;
  }
}
/* line 210, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.value {
  text-align: left;
  width: 31%;
  padding-left: 5px;
}
@media only screen and (min-width: 300px) and (max-width: 425px) {
  /* line 214, http://tidecast.local/less/template/calendar.less */
  div#calendar ul.dates li div.region-tide-data ul.tide-data li span.value {
    padding-left: 1px;
  }
}
/* line 221, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.tide-indicator {
  width: 14%;
  text-align: center;
}
/* line 230, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.sunrise-event-best,
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.sunset-event-best,
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.low-tide-event-best,
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.high-tide-event-best {
  background-color: hsl(120, 100%, 50%);
}
/* line 236, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.sunrise-event-better,
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.sunset-event-better,
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.low-tide-event-better,
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.high-tide-event-better {
  background-color: hsl(60, 100%, 50%);
}
/* line 242, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.sunrise-event-good,
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.sunset-event-good,
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.low-tide-event-good,
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.high-tide-event-good {
  background-color: hsl(30, 100%, 50%);
}
/* line 248, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.tide-indicator-h {
  background-color: hsl(300, 100%, 50%);
}
/* line 251, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li span.tide-indicator-l {
  background-color: hsl(180, 100%, 50%);
}
/* line 255, http://tidecast.local/less/template/calendar.less */
div#calendar ul.dates li div.region-tide-data ul.tide-data li.sunrise,
div#calendar ul.dates li div.region-tide-data ul.tide-data li.sunset {
  font-style: italic;
}
